*,
::after,
::before {
  box-sizing: border-box;
}

/*
====================
Variables
====================
 */
:root {
  --white: hsl(0, 0%, 100%);
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --font-family: "Bai jamjuree";
  --letter-spacing: 0.5px;
  --line-height: 1.5;
  --transition: all 0.3s linear;
}

/*
====================
Fonts
====================
 */
@font-face {
  font-family: "Bai jamjuree";
  src: url(../fonts/BaiJamjuree-Regular.ttf) format("truetype");
}

body {
  font-family: var(--font-family);
  display: grid;
  justify-content: center;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  color: var(--grayish-blue);
  line-height: var(--line-height);
}

ul {
  list-style-type: none;
  padding: 0;
}

.devices,
.computer {
  margin: 2rem 0;
  height: 13rem;
  object-fit: cover;
}

.wrapper {
  text-align: center;
}

.header {
  background: url(../images/bg-header-mobile.png) center/cover no-repeat;
  padding-top: 8rem;
}
.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.history > .summary > h3 {
  font-size: 2.15rem;
}

.summary p {
  padding: 0 0.65rem;
  line-height: var(--line-height);
}
.download-btns {
  margin: 3rem auto;
  max-width: 30rem;
}
.btn {
  text-decoration: none;
  display: block;
  padding: 1rem;
  font-size: 1.15rem;
  background: var(--strong-cyan);
  color: var(--white);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 1.75rem;
  border-radius: 3rem;
  box-shadow: 2px 7px 15px 1px rgba(18, 221, 191, 0.2);
  transition: var(--transition);
  cursor: pointer;
}

.btn:hover{
  box-shadow: 2px 7px 15px 1px rgba(18, 221, 191, 0.5);
}

.mac-btn {
  background: var(--light-blue);
  box-shadow: 2px 7px 15px 1px rgba(97, 115, 255, 0.2);
}

.mac-btn:hover{
  box-shadow: 2px 7px 15px 1px rgba(97, 115, 255, 0.5);
}

.history {
  margin-bottom: 8rem;
}
.track-center {
  margin-bottom: 7rem;
}
.track-items {
  display: grid;
  grid-template-columns: 1fr;
}

.item p {
  letter-spacing: var(--letter-spacing);
}

.tools-center {
  margin: 6rem 0;
}

.companies {
  display: grid;
  justify-content: center;
  margin: 5rem 0;
}

.company {
  justify-self: center;
  margin-bottom: 4rem;
}

footer {
  background: #f1f4f8;
  text-align: center;
  padding: 3rem;
}

.footer-logo {
  height: 3rem;
}
.footer-links {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  margin: 2rem 0;
}
.footer-link,
.footer-icon {
  color: var(--dark-grayish-blue);
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 10rem;
  text-align: center;
}
.footer-icon{
  height: 1.5rem;
}
@media screen and (min-width: 992px) {
  body {
    display: block;
  }
  .summary p {
    max-width: 45rem;
    font-size: 1.15rem;
    margin: 0 auto;
  }

  .history > .summary > h3 {
    font-size: 2.75rem;
    margin-bottom: 1rem;
  }
  .summary h3,
  .item h4 {
    margin-bottom: 1rem;
  }

  .summary h3 {
    font-size: 2.35rem;
  }

  .item h4 {
    font-size: 1.5rem;
  }

  .header {
    background: url(../images/bg-header-desktop.png) center/cover no-repeat;
    width: 100%;
  }

  .download-btns {
    margin: 2rem auto;
    width: 29rem;
    display: flex;
    justify-content: space-between;
  }
  .btn {
    width: 14rem;
    font-size: 1rem;
  }

  .devices,
  .computer {
    margin: 2rem 0;
    height: 26rem;
  }

  .track-center {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 4rem;
    text-align: left;
  }

  .track-items {
    margin-top: 1.5rem;
    max-width: 23rem;
  }

  .devices {
    margin-top: 4rem;
  }

  .tools-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
    column-gap: 1rem;
    align-items: center;
    grid-template-rows: 1fr;
  }

  .tool:nth-child(2){
    margin-bottom: 0.9rem;
  }
  .tool:nth-child(3){
    margin-bottom: 0.9rem;
  }

  .companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
.footer-center{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}
  .footer-links{
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer-link-1{
    grid-column: 0/1;
     grid-row: 1/2;
  }
 .footer-link-2{
    grid-column: 1/2;
     grid-row: 2/3;
  }
  
  .footer-link-3{
    grid-column: 2/3;
    grid-row: 1/2;
  }
 .footer-link-4{
    grid-column: 2/3;
     grid-row: 2/3;
  }
   .footer-link-5{
    grid-column: 3/4;
     grid-row: 1/2;
  }
  .footer-link{
    text-align: left;
  }

  .footer-icons{
    margin: 0;
  }
}
